.nav {
  font-size: 16px;
  font-weight: 600;
}
.text {
  font-size: 22px;
  color: grey;
}
.wrapper_80 {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
}
h5 {
  font-family: 'Montserrat', sans-serif;
}
.title3 {
  margin-top: 80px;
  font-size: 30px;
  color: #031B4E;
  margin-bottom: 30px;
}
.title5 {
  margin-top: 20px;
  font-size: 18px;
}

/*header_top*/
.header_top {
  height: 50px;
  line-height: 50px;
}
.header_top .container {
  height: 50px;
}
#logo {
  font-size: 24px;
  color: #005DFF;
  font-weight: 600;
  line-height: 10px;
}
.header_top .row {
  height: 100%;
}
.header_top [class*='col-'] {
  height: 100%;
  line-height: 50px;
}
.list_inline {
  display: inline-block;
}
.list_inline li {
  display: inline-block;
  margin-left: 15px;
}
.list_inline a {
  text-decoration: none;
  color: black;
}
.btn_sign {
  border-color: #005DFF;
  color: #005DFF;
}
#hambuger_icon {
  display: inline-block;
  padding: 8px;
  border: 1px solid white;
  height: 42px;
  line-height: 24px;
  vertical-align: middle;
}
#hambuger_icon:hover {
  background: white;
}
#hambuger_icon span {
  font-size: 24px;
  color: lightgrey;
}

/*header_bottom*/
.header_bottom {
  width: 100%;
  padding-bottom: 73px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
 #title {
   font-size: 60px;
   color: white;
   padding-top: 40px;
   font-weight: 700;
 }

 .box_input {
   width: 100%;
   margin-top: 50px;
   background-color: white;
   border-radius: 5px;
 }
 .box_input h3 {
   padding-top: 30px;
 }
 .box_input #started {
   font-size: 28px;
   color: #005DFF;
   font-weight: 700;
 }
 .input_field {
   width: 95%;
  margin-left: 12px;
}
.input_field::-webkit-input-placeholder {
  color: grey;
  font-weight: 600;
}
.btn_account {
  width: 95%;
  color: white;
  font-weight: 700;
  background-color: #0069FF;
}
.btn_google {
  width: 95%;
  font-weight: 700;
  margin-top: 10px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 5px;
  color: grey;
}
.button_google {
  position: relative;
}
.icon_google {
  position: absolute;
  top: 16.5px;
  left: 25px;
}
.icon_google #icon {
  height: 18px;
}
.terms {
  padding-top: 10px;
  padding-bottom: 30px;
}
#text_bottom {
  font-size: 15px;
  color: black;
}

/*main_top*/
.main_top {
  background-color: #F3F5F9;
}
.main_top h5{
  color: grey;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
}
.main_top .icon_layout img {
  height: 150px;
  width: 100%;
}
.customer {
  font-weight: 600;
  margin-bottom: 30px;
}
.main_top a {
  font-weight: 600;
  color: #1667FF;
}
/*main_deploy*/
.main_deploy {
  height: 500px;
}
.main_deploy h3 {
  margin-top: 80px;
  font-size: 30px;
  color: #031B4E;
}
.main_deploy span{
  margin-top: 20px;
}

/*main_designed*/
.main_designed {
  background-color: #F3F5F9;
  text-align: center;
}

.img_dropset {
  width: 55%;
  margin: 0 auto;
  padding-top: 50px;
}
.img_dropset img {
  width: 100%;
  margin-bottom: 30px;
}
.main_designed .compute {
  font-size: 16px;
  color: #031B4E;
}
.dot {
  margin-top: 10px;
  margin-bottom: 60px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #0069FF;
}
.first {
  background-color: #0069FF;
}

/*main_business*/
.main_business {
  margin-bottom: 80px;
}
.main_business p {
  color: gray;
  font-weight: 600;
}
.main_business a {
  font-weight: 600;
  color: #1667FF;
}

/*main_services*/
.main_services {
  background-color: blue;
  padding-bottom: 60px;
}
.main_services .title3 {
  color: white;
}
.main_services span {
  margin-left: 15px;
  color: white;
}
.test_speed {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid white;
}
.test_speed:last-child {
  border-bottom: 0px;
}
.test_speed .city{
  margin-left: 50px;
  font-weight: 600;
  color: #9EA6BA;
}
.a_right {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.test_speed a {
  font-weight: 600;
  color: #01d7d6;
}
/*main_teams*/
.main_teams {
  background-color: #F3F5F9;
  text-align: center;
}


/*main_start*/
.main_start {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg");
  text-align: center;
  padding-bottom: 60px;
}
.main_start .title3 {
  color: white;
}
.main_start .btn_sign {
  padding: 15px 30px;
  font-weight: 600;
}
/*Footer*/
footer {
  height: 500px;
  background-color: blue;
}
