
.nav {
  font-size: 16px;
  font-weight: 600;
}




/*header_top*/
.header_top {
  height: 50px;
  line-height: 50px;
}
.header_top .container {
  height: 50px;
}
#title {
  font-size: 24px;
  color: #005DFF;
  font-weight: 600;
  line-height: 10px;
}
.header_top .row {
  height: 100%;
}
.header_top [class*='col-'] {
  height: 100%;
  line-height: 50px;
}
.menu {
  display: inline-block;
}
.menu li {
  display: inline-block;
  margin-left: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.btn_sign {
  border-color: #005DFF;
  color: #005DFF;
}
/*header_bottom*/
.header_bottom {
  height: 500px;
}
/*main_top*/
.main_top {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_deploy*/
.main_deploy {
  height: 500px;
}
/*main_designed*/
.main_designed {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_business*/
.main_business {
  height: 500px;
}
/*main_services*/
.main_services {
  height: 500px;
  background-color: blue;
}
/*main_teams*/
.main_teams {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_start*/
.main_start {
  height: 300px;
  background-color: lightblue;
}
/*Footer*/
footer {
  height: 500px;
  background-color: blue;
}
