
.nav {
  font-size: 16px;
  font-weight: 600;
}
.text {
  font-size: 22px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
}




/*header_top*/
.header_top {
  height: 50px;
  line-height: 50px;
}
.header_top .container {
  height: 50px;
}
#logo {
  font-size: 24px;
  color: #005DFF;
  font-weight: 600;
  line-height: 10px;
}
.header_top .row {
  height: 100%;
}
.header_top [class*='col-'] {
  height: 100%;
  line-height: 50px;
}
.list_inline {
  display: inline-block;
}
.list_inline li {
  display: inline-block;
  margin-left: 15px;
}
.list_inline a {
  text-decoration: none;
  color: black;
}
.btn_sign {
  border-color: #005DFF;
  color: #005DFF;
}
#hambuger_icon {
  display: inline-block;
  padding: 8px;
  border: 1px solid white;
  height: 42px;
  line-height: 24px;
  vertical-align: middle;
}
#hambuger_icon:hover {
  background: white;
}
#hambuger_icon span {
  font-size: 24px;
  color: lightgrey;
}

/*header_bottom*/
.header_bottom {
  width: 100%;
  padding-bottom: 73px;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
 #title {
   font-size: 60px;
   color: white;
   padding-top: 40px;
   font-weight: 700;
 }
 .header_bottom .text {
   color: lightgrey;
 }

 .box_input {
   width: 100%;
   margin-top: 50px;
   background-color: white;
   border-radius: 5px;
 }
 .box_input h3 {
   padding-top: 30px;
 }
 .box_input #started {
   font-size: 28px;
   color: #005DFF;
   font-weight: 700;
 }
 .input_field {
   width: 95%;
  margin-left: 12px;
}
.input_field::-webkit-input-placeholder {
  color: grey;
  font-weight: 600;
}
.btn_account {
  width: 95%;
  color: white;
  font-weight: 700;
  background-color: #87bdd8;
}
.btn_google {
  width: 95%;
  font-weight: 700;
  margin-top: 10px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 5px;
  color: grey;
}
.icon_google {
  height: 18px;
}
.terms {
  padding-top: 10px;
  padding-bottom: 30px;
}
#text_bottom {
  font-size: 15px;
  color: black;
}





/*main_top*/
.main_top {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_deploy*/
.main_deploy {
  height: 500px;
}
/*main_designed*/
.main_designed {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_business*/
.main_business {
  height: 500px;
}
/*main_services*/
.main_services {
  height: 500px;
  background-color: blue;
}
/*main_teams*/
.main_teams {
  height: 500px;
  background-color: #F3F5F9;
}
/*main_start*/
.main_start {
  height: 300px;
  background-color: lightblue;
}
/*Footer*/
footer {
  height: 500px;
  background-color: blue;
}
